@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.snow-container {
  overflow: hidden;
  width: 100%;
  /* background-color:red; */
  max-width: 100%;
  height: 100%;
  pointer-events: none; /*阻止任何事件*/
  }
 
.snow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /*垂直、水平居中*/
  margin: auto;
  transform: translate(0, -100%);
  animation: snowing infinite linear;
  pointer-events: none;
  }
 
.foreground {
  animation-duration: 25s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png');
  }
 
.foreground.layer {
  animation-delay: 12.5s; /*推迟时间是总时间/2*/
 
  }
 
.medium {
  animation-duration: 35s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png');
  }
 
  .medium.layer {
  animation-delay: 17.5s;
  }
 
  .background {
  animation-duration: 45s;
  background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png');
 
  }
 
  .background.layer {
  animation-delay: 22.5s;
  }
 
  @keyframes snowing {
  100% {
  transform: translate(15%, 100%);
  }
  }

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/bg1.jpg)no-repeat;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 750px;
  perspective: 1200px;
}

.card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 600px;
  transform-style: preserve-3d;
}

.card .card-bg{
  position: absolute;
}

.card .card-bg img{
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.card .title{
  z-index: 2;
  position: absolute;
  top: 50px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.card .title h2{
  font-family: "Eczar", serif;
  font-size: 25px;
  text-transform: uppercase;
}

.card .title h1{
  font-family: "Berkshire Swash", cursive;
  font-size: 60px;
  letter-spacing: 2px;
}

.card .title h3{
  font-family: "Eczar", serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}
.card .title1{
    z-index: 2;
    position: absolute;
    top: 300px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    transition: all 0.3s ease-out;
  }
  .card .title1 h2{
    font-family: "Eczar", serif;
    font-size: 20px;
    text-transform: uppercase;
   
  }
.card .images{
  z-index: 2;
}

.card .images .santa{
  z-index: 3;
  position: absolute;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card .images .tree{
  z-index: 2;
  width: 400px;
  transition: all 0.3s ease-out;
}
.card .images .corona{
  z-index: 2;
  width: 130px;
  transition: all 0.3s ease-out;
  left: 30px;
}
.card .images .corona1{
  z-index: 2;
  width: 150px;
  transition: all 0.3s ease-out;
  right: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/bg1.jpg)no-repeat;
  background-size: cover;
  background-position: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 750px;
  perspective: 1200px;
}

.card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 600px;
  transform-style: preserve-3d;
}

.card .card-bg{
  position: absolute;
}

.card .card-bg img{
  z-index: 1;
  width: 100%;
  border-radius: 10px;
}

.card .title{
  z-index: 2;
  position: absolute;
  top: 50px;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease-out;
}

.card .title h2{
  font-family: "Eczar", serif;
  font-size: 25px;
  text-transform: uppercase;
}

.card .title h1{
  font-family: "Berkshire Swash", cursive;
  font-size: 60px;
  letter-spacing: 2px;
}

.card .title h3{
  font-family: "Eczar", serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
}
.card .title1{
    z-index: 2;
    position: absolute;
    top: 530px;
    right: 20px;
    text-align: center;
    line-height: 20px;
    transition: all 0.3s ease-out;
  }
  .card .title h2{
    font-family: "Eczar", serif;
    font-size: 20px;
    text-transform: uppercase;
  }
.card .images{
  z-index: 2;
}

.card .images .santa{
  z-index: 3;
  position: absolute;
  width: 400px;
  transition: all 0.3s ease-out;
}

.card .images .tree{
  z-index: 2;
  width: 400px;
  transition: all 0.3s ease-out;
}
.card .images .corona{
  z-index: 2;
  width: 130px;
  transition: all 0.3s ease-out;
  padding: 12px;
  margin-top: -110px;
}
.card .images .corona1{
  z-index: 2;
  width: 120px;
  transition: all 0.3s ease-out;
  padding: 10px;
  right: -2em;
  
}                      